.signUp-button{
    background-color: transparent;
    border-style: none;
    color: #0068B3;
}

.forget-password-button{
    background-color: transparent;
    border-style: none;
    color: #0068B3;

}
