@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.main-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 80px 80px;
    gap: 24px;
    position: absolute;
    width: 100vw;
    height: 1304px;
    left: 0px;
    top: 136px;

}

.settings-main-ads-container {
    width: 100vw;
    height: 160px;
    margin-bottom: 2.5vw;
}

.setting-ad-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 24px;
    gap: 24px;

    width: 95vw;
    height: 160px;
    margin-left: 2.5vw;
    margin-right: 2.5vw;

    background: #FFFFFF;
    /* Card */

    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}



.settings-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 1280px;
    height: 866px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}



.settings-bread-crumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 1280px;
    height: 21px;
    margin:0px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}



.settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 24px;
    gap: 24px;

    width: 600px;
    height: 829px;

    /* Neutral/Grey/0 */

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.settings-heading {
    width: 552px;
    height: 36px;

    /* Title/Heading 3 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    margin: 0px;

    /* Neutral/Grey/900 */

    color: #101828;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.notifications-heading {
    width: 100px;
    height: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.general-heading {
    width: 52px;
    height: 21px;

    /* Body/Body 2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* Neutral/Grey/700 */

    color: #344054;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.chat-heading {
    width: 32px;
    height: 21px;

    /* Body/Body 2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* Neutral/Grey/700 */

    color: #344054;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.notification-switches-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;
    gap: 16px;

    max-width: 552px;
    height: 133px;

    /* Neutral/Grey/200 */

    border-top: 1px solid #EAECF0;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.notification-heading-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0px 0px;
    gap: 4px;

    width: 552px;
    height: 59px;

    /* Neutral/Grey/0 */

    background: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.notification-heading {
    width: 100px;
    height: 27px;

    /* Title/Sub Heading */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    /* Neutral/Grey/900 */

    color: #101828;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.general-switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    width: 552px;
    height: 21px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.chat-switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    width: 552px;
    height: 21px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.payment-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;
    gap: 16px;

    width: 552px;
    height: 99px;

    /* Neutral/Grey/200 */

    border-top: 1px solid #EAECF0;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}

.payments-heading {
    width: 85px;
    height: 27px;

    /* Title/Sub Heading */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    /* Neutral/Grey/900 */

    color: #101828;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.saved-payments-heading {
    width: 140px;
    height: 21px;

    /* Body/Body 2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* Primary/Blue 100 */

    color: #0068B3;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.saved-payments-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 552px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.delete-account-heading {
    width: 167px;
    height: 27px;

    /* Title/Sub Heading */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    /* Neutral/Grey/900 */

    color: #101828;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.delete-account {
    width: 166px;
    height: 24px;

    /* Body/Body 1 Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    border-style: none;
    background-color: transparent;
    /* Error/100 */

    color: #D92D20;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.privacy-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;
    gap: 16px;

    width: 552px;
    height: 99px;

    /* Neutral/Grey/200 */

    border-top: 1px solid #EAECF0;

    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.privacy-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 552px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.support {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;
    gap: 16px;

    width: 552px;
    height: 179px;

    /* Neutral/Grey/200 */

    border-top: 1px solid #EAECF0;

    /* Inside auto layout */

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}

.support-button1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 552px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.support-button2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 552px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.support-button3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 552px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.delete-account-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;
    gap: 24px;

    width: 552px;
    height: 99px;

    /* Neutral/Grey/200 */

    border-top: 1px solid #EAECF0;

    /* Inside auto layout */

    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
}