@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.main-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 80px 80px;
    gap: 24px;
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 0px;
    top: 136px;
    overflow-y: scroll;
    padding-bottom: 150px;
    background-color: #F4F5F7;
    background-size: cover;
    height: 100vh;
}

.settings-main-ads-container {
    width: 100vw;
    height: 160px;
    margin-bottom: 2.5vw;
}

.setting-ad-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 24px;
    gap: 24px;

    width: 95vw;
    height: 160px;
    margin-left: 2.5vw;
    margin-right: 2.5vw;

    background: #FFFFFF;
    /* Card */

    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}



.settings-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
    height: 866px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}



.settings-bread-crumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 21px;
    margin:0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.Settings-bread-crumbs-pointer{
    cursor: pointer;
}



.settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 24px;
    gap: 24px;
    width: 600px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.settings-heading {
    width: 552px;
    height: 36px;

    /* Title/Heading 3 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    margin: 0px;

    /* Neutral/Grey/900 */

    color: #101828;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.notifications-heading {
    width: 100px;
    height: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.general-heading {
    width: 52px;
    height: 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #344054;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.chat-heading {
    width: 32px;
    height: 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #344054;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.notification-switches-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;
    gap: 16px;

    max-width: 552px;
    height: 133px;
    border-top: 1px solid #EAECF0;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.notification-heading-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 0px 0px;
    gap: 4px;

    width: 552px;
    height: 59px;

    /* Neutral/Grey/0 */

    background: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.notification-heading {
    width: 100px;
    height: 27px;

    /* Title/Sub Heading */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    /* Neutral/Grey/900 */

    color: #101828;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.general-switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    width: 552px;
    height: 21px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.chat-switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    width: 552px;
    height: 21px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.payment-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;
    gap: 16px;

    width: 552px;
    height: 99px;

    /* Neutral/Grey/200 */

    border-top: 1px solid #EAECF0;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}

.settings-payments-heading {
    width: 85px;
    height: 27px;

    /* Title/Sub Heading */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    /* Neutral/Grey/900 */

    color: #101828;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.saved-payments-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 140px;
    height: 21px;

    /* Body/Body 2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* Primary/Blue 100 */

    color: #0068B3;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.saved-payments-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 552px;
    height: 24px;
    border-style: none;
    background: transparent;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.delete-account-heading {
    width: 167px;
    height: 27px;

    /* Title/Sub Heading */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    /* Neutral/Grey/900 */

    color: #101828;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.delete-account {
    width: 166px;
    height: 24px;

    /* Body/Body 1 Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    border-style: none;
    background-color: transparent;
    /* Error/100 */

    color: #D92D20;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.privacy-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;
    gap: 16px;

    width: 552px;
    height: 99px;

    /* Neutral/Grey/200 */

    border-top: 1px solid #EAECF0;

    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.privacy-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 552px;
    height: 24px;
    border-style: none;
    background-color: transparent;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.support {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;
    gap: 16px;

    width: 552px;
    height: 179px;

    /* Neutral/Grey/200 */

    border-top: 1px solid #EAECF0;

    /* Inside auto layout */

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}

.support-button1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;

    width: 552px;
    height: 24px;
    border-style: none;
    background-color: transparent;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.support-button2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;

    width: 552px;
    height: 24px;
    background-color: transparent;
    border-style: none;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.support-button3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;

    width: 552px;
    height: 24px;
    border-style: none;
    background-color: transparent;

    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.delete-account-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;
    gap: 24px;

    width: 552px;
    height: 99px;

    /* Neutral/Grey/200 */

    border-top: 1px solid #EAECF0;

    /* Inside auto layout */

    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
}

.delete-account-dialog-container{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

/* position: relative; */
width: 400px;
height: 330px;
left: 778px;
top: 1848px;

/* Base / White */

background: #FFFFFF;
/* Modal */

box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
border-radius: 12px;
}

.account-delete-information-first-container{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 24px 16px;
gap: 16px;

width: 400px;
height: 176px;

/* Neutral/Grey/25 */

background: #FCFCFD;
/* Neutral/Grey/100 */

border-bottom: 1px solid #F2F4F7;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.delte-account-conformation-buttons-contaier{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 32px 24px;
gap: 16px;

width: 400px;
height: 154px;

/* Neutral/Grey/0 */

background: #FFFFFF;
/* Neutral/Grey/300 */

border-top: 1px dashed #D0D5DD;
border-radius: 0px 0px 8px 8px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.delete-account-icon-container{
    width: 32px;
    height: 32px;    
    background: #FEE4E2;
    /* border: 4px solid #FEF3F2; */
    border-radius: 28px;    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.delete-account-icon{
    font-size: 26px;
    color:  #D92D20;
    padding-left: 8px;
    padding-top: 5px;
}

.delete-account-conformation-container{
    /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;
margin: 0px;
width: 352px;
height: 76px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.are-yousure-text{
    width: 352px;
max-height: 30px;
padding-bottom: 8px;
/* Title/Heading 4 */

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */


/* Neutral/Grey/900 */

color: #101828;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.conformation-text{
    width: 351px;
height: 42px;

/* Body/Body 2 */

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* or 21px */
padding-left: 10px;


/* Neutral/Grey/600 */

color: #475467;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.delete-account-button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 352px;
height: 37px;

/* Error/100 */

background: #D92D20;
border-radius: 4px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
border-style: none;

/* Neutral/Grey/25 */

color: #FCFCFD;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.cancel-delete-account-button{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;
width: 352px;
height: 37px;
margin-top: 10px;
/* Neutral/Grey/300 */
background-color: transparent;
border: 1px solid #D0D5DD;
border-radius: 4px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */


/* Neutral/Grey/700 */

color: #344054;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.settings-footer-container{
    margin-top:30px;
    order:1;
}