@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#main-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 40px;
    gap: 32px;
    position: absolute;
    width: 100vw;
    /* height: 100%; */
    left: 0px;
    top: 136px;
    overflow-y: scroll;
    padding-bottom: 180px;
    background-color: #F4F5F7;
    background-size: cover;
    height: 100vh;
  
}

.banner-image-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 16px;
    width: 100%;
    height: 240px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.banner-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 16px;
    width: 100%;
    height: 240px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    background: linear-gradient(to left, rgba(216, 85, 107, 0.2), rgba(145, 101, 216, 0.2));
}


.banner-image-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 25px;
    position: absolute;
    width: 452px;
    height: 127px;
    left: 494px;
    top: 56px;

}

.label-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 118px;
    height: 40px;

    /* Primary/Blue 100 */

    background: #0068B3;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.label-button-heading {
    width: 82px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FCFCFD;
    flex: none;
    order: 1;
    flex-grow: 0;

}


.profile-bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 80px;
    gap: 19px;
    width: 100%;
    height: 2227;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.profile-shor-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 24px;
    gap: 16px;
    width: 350px;
    height: 377px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 8px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.profile-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    isolation: isolate;
    width: 302px;
    height: 313px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.profile-long-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 24px;
    gap: 40px;
    width: 620px;
    height: 1600px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.profile-logo-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 80px;
    height: 80px;

    background-color: #FFD37A;
    border-radius: 100px;


    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

}

.profile-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: none;
}


.replace-banner-heading {
    width: 452px;
    height: 36px;

    /* Title/Heading 3 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */

    text-align: center;

    /* Neutral/Grey/0 */

    color: #FFFFFF;

    margin: 0px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.myOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;    
    gap: 24px;
    width: 302px;
    height: 217px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;
}

.add-circle {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 358.5px;
    top: 365px;
    color: #0068B3;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;
    margin-bottom: 0px;
    width: 302px;
    height: 64px;    
    margin-top: 16px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.person-heading {
    width: 302px;
    height: 36px;

    /* Title/Heading 3 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */

    text-align: center;

    /* Gray/900 */

    color: #101828;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.person-membership-status {
    width: 302px;
    height: 24px;

    /* Text md/Regular */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    /* Gray/500 */

    color: #667085;
    margin: 0px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.profile-navigations-container {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;

    width: 302px;
    height: 129px;

    /* Neutral/Grey/200 */

    border: 1px solid #EAECF0;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#add-photo{
    display: none;
}

.nav-buttons-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 4px;
    margin: 0px;
    width: 270px;
    height: 21px;

    border-radius: 24px;

    /* Inside auto layout */
    background-color: transparent;
    border-style: none;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.nav-button-heading1 {
    width: 51px;
    height: 21px;

    /* Body/Body 2 Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* Primary/Blue 100 */

    color: #0068B3;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.nav-button-icon {
    width: 16px;
    height: 16px;
    color: #0068B3;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.nav-buttons-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 4px;

    width: 270px;
    height: 21px;
    background-color: transparent;
    border-style: none;
    margin: 0px;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}


.hr-line {
    width: 270px;
    height: 1px;

    /* Neutral/Grey/200 */

    background: #EAECF0;
    margin: 0px;
    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.nav-button-heading2 {
    width: 62px;
    height: 21px;

    /* Body/Body 2 Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* Primary/Blue 100 */

    color: #0068B3;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.hr-line1 {
    width: 270px;
    height: 1px;
    margin: 0px;
    /* Neutral/Grey/200 */

    background: #EAECF0;

    /* Inside auto layout */

    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
}

.nav-buttons-container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 4px;

    width: 270px;
    height: 21px;

    border-radius: 24px;
    background-color: transparent;
    border-style: none;
    margin: 0px;

    /* Inside auto layout */

    flex: none;
    order: 6;
    align-self: stretch;
    flex-grow: 0;
}

.nav-button-heading3 {
    width: 90px;
    height: 21px;

    /* Body/Body 2 Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* Primary/Blue 100 */

    color: #0068B3;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.myprofile-heading {
    width: 572px;
    height: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #101828;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px;
}

.general-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 572px;
    height: 484px;

    /* Neutral/Grey/200 */

    border-top: 1px solid #EAECF0;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.general-info-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;

    width: 105px;
    height: 27px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    width: 105px;
    height: 27px;

    /* Title/Sub Heading */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    /* Neutral/Grey/900 */

    color: #101828;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.general-info-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    max-width: 412px;
    height: 345px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.input-field1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 412px;
    height: 71px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.input-field2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 412px;
    height: 71px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.input-field3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 412px;
    height: 155px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.label {
    width: 100px;
    height: 21px;

    /* Body/Body 2 Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* Neutral/Grey/700 */

    color: #344054;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0
}

.name-input-field {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 412px;
    height: 44px;

    /* White */

    background: #FFFFFF;
    /* Neutral/Grey/300 */

    border: 1px solid #D0D5DD;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


.saveChangesButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 143px;
    height: 40px;

    /* Primary/Blue 100 */

    background: #0068B3;
    color: white;
    border-style: none;
    border-radius: 4px;
    margin-top: 75px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

.saveChange-container {

    flex: none;
    order: 2;
    flex-grow: 0;

}


.security-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 572px;
    height: 289px;

    /* Neutral/Grey/200 */

    border-top: 1px solid #EAECF0;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.input-field4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 412px;
    height: 71px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.input-field5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 412px;
    height: 71px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.language-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 572px;
    height: 119px;

    /* Neutral/Grey/200 */

    border-top: 1px solid #EAECF0;

    /* Inside auto layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.language-heading {
    width: 85px;
    height: 27px;

    /* Title/Sub Heading */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    /* Neutral/Grey/900 */

    color: #101828;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.weblinks-heading {
    width: 83px;
    height: 27px;

    /* Title/Sub Heading */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    /* Neutral/Grey/900 */

    color: #101828;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 572px;
    height: 119px;

    /* Neutral/Grey/200 */

    border-top: 1px solid #EAECF0;

    /* Inside auto layout */

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
}

.external-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 572px;
    height: 289px;

    /* Neutral/Grey/200 */

    border-top: 1px solid #EAECF0;

    /* Inside auto layout */

    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
}

.input-field16 {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 412px;
    height: 71px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


.add-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 52px;
    height: 24px;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.link-account-heading {
    width: 113px;
    height: 27px;

    /* Title/Sub Heading */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    /* Neutral/Grey/900 */

    color: #101828;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.myOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 302px;
    height: 217px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;
}

.input {
    display: none;
}

.label-button {
    background-color: #0068B3;
    ;
    color: white;

    width: 80px;
    height: 22px;
    border-style: none;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
    width: 82px;
    height: 24px;

    /* Body 1 Semi */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    /* Neutral/Grey/25 */

    color: #FCFCFD;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.banner-dimensions {
    width: 452px;
    height: 18px;

    /* Footnote/medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    text-align: center;

    /* Neutral/Grey/25 */

    color: #FCFCFD;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px;
}

.profile-footer{
 top: 2003px;
 order: 2;
}